.menu {
  display: flex;
  padding: .5em 0;
  align-items: center;
  >.item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 .5em;
    >i + i {
      margin-left: .5em;
    }
    &.fluid {
      flex-grow: 1;
    }
    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
  &:not(.borderless) {
    >.item {
      +.item {
        border-left: 1px solid var(--border_color_1);
      }
    }
  }
}